* {
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    text-align: center;
    font-family: sans-serif;
}

body,
article,
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px
}

article {
    margin: 35%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-size: 1.8rem;
    color: rgb(70, 7, 7);
    font-weight: bold;
}

h2 {
    font-size: 4rem;
    font-family: Titan One;
    color: rgb(233, 20, 101);
    text-shadow: 2px 1px 0px white;
    margin-bottom: 3vh;
}

button {
    margin-left: 12vw;
    margin-right: 12vw;
    margin-bottom: 5vh;
    margin-top: 3vh;
    height: 60px;
    background-color: rgb(255, 217, 0);
    color: rgb(70, 7, 7);
    font-family: lobster;
    font-size: 1.3rem;
    border: 0;
    border-radius: 30px;
    transition: all ease-in;
}

button:hover {
    background-color: rgb(233, 20, 101);
    color: white;
}

input {
    background-color: rgb(250, 229, 112);
    color: rgb(233, 20, 101);
    font-weight: bold;
    font-size: 1.4;
    border-width: 0;
    border-radius: 14px;
    height: 30px
}